/* Styling for sliders */
.slider {
  width: 80%;
  /* margin-top: 5px; */
  padding: 10px;
  background-color: #f2f2f274;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for labels */
label {
  display: block;
  margin-top: 20px; 
  color: #151515; 
}

/* Styling for buttons */
.button {
  background-color: #9c00f6;
  color: white;
  padding: 10px 20px; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #cd80f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}



  

  